@import 'tailwindcss';
@import './variables.css';

@font-face {
    font-family: 'Encode Sans';
    src: url('/fonts/EncodeSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gloock';
    src: url('/fonts/Gloock-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Font antialiasing */
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

:root {
    --body-padding: clamp(1rem, -0.071rem + 3.429vw, 2.5rem);
}

body {
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 0;

    font-family: 'Encode Sans', sans-serif;
    font-size: 20px;
}

.font-display {
    font-family: 'Gloock', serif;
}

.font-body {
    font-family: 'Encode Sans', sans-serif;
}

main {
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;
    max-width: 1000px;
    padding: 0 var(--body-padding);

    margin: 0 auto 7rem auto;
}

.plot-grid {
    max-width: min(1600px, 90vw);
    padding: 0 calc(var(--body-padding) / 2);
    margin: 0 auto 4rem auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gloock', serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
}

p {
    max-width: 80ch;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 1200px;
    padding: 1.5rem 2rem;
    margin: 0 auto;
    background-color: #ccc;
    border-radius: 6px;

    font-weight: 500;
}

.katex .katex-html {
    display: flex;
    gap: 2px;
    /* optional: aligns better with text */
}

.content-clamp {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

svelte-scroller-background-container {
    z-index: 1000 !important;
}

@media (max-width: 768px) {
    body {
        font-size: 17px;
    }
}