@import 'tailwindcss';

:root {
    --body-padding: clamp(1rem, -0.071rem + 3.429vw, 2.5rem);
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;

    font-size: 20px;
}

main {
    padding: 2rem 0;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;
    max-width: 1000px;
    padding: 0 var(--body-padding);

    margin: 0 auto 5rem auto;
}

p {
    max-width: 80ch;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 1200px;
    padding: 1.5rem 2rem;
    margin: 0 auto;
    background-color: #ccc;
    border-radius: 6px;

    font-weight: 500;
}

.katex .katex-html {
    display: flex;
    gap: 2px;
    /* optional: aligns better with text */
}